In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from math import nan
from sqlalchemy import create_engine
import pyodbc
import os
import re
import mysql.connector

In [5]:
os.getcwd()

'D:\\dataFCNOV'

In [4]:
os.chdir('D:\dataFCNOV')

In [7]:
mydb = mysql.connector.connect(
  host="103.27.62.149",
  user="y4a_sc_intern",
  password="68546771",
  database="sc_main"
)

In [11]:
mycursor = mydb.cursor()

mycursor.execute("""
SELECT dim.*, rs.sale, ds.daily_sale, amz.inv_amz, yes.inv_y4a,
CASE WHEN ((IFNULL(amz.inv_amz,0) +  IFNULL(yes.inv_y4a,0)) <= 3*ds.daily_sale and rs.sale is null)  THEN (ds.daily_sale*7)
ELSE IFNULL(rs.sale,0) END QNT_REMOVE_OOS

FROM (
# BASE DATA
SELECT DISTINCT d.`week`, A.sku
FROM dim_date d
CROSS JOIN (SELECT DISTINCT  sku
FROM customer_order_by_ship_date
WHERE sku IS NOT NULL and shipped_date > DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK)) A
WHERE d.date between DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK) AND DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 1 WEEK)
) dim

# REALSALES
LEFT JOIN
(
SELECT d.`week`, s.sku, SUM(s.qty) as sale
FROM customer_order_by_ship_date s
LEFT JOIN dim_date d on d.date = s.shipped_date
WHERE s.sku IS NOT NULL and s.shipped_date > DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK)
GROUP BY d.`week`, s.sku
) rs ON dim.`week` = rs.`week` and dim.sku = rs.sku

#daily sale
LEFT JOIN 
(
SELECT sku, avg(qty) as daily_sale
FROM customer_order_by_ship_date 
WHERE SKU IS NOT NULL AND shipped_date> DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK)
GROUP BY 1
) ds ON dim.sku = ds.sku


# AMZ INVENTORY
LEFT JOIN
(
SELECT d1.`week` as log_week, ia.asin, p.sku, AVG(ia.inventory_manufacturing) as inv_amz
FROM inventory_amazon ia
LEFT JOIN dim_date d1 on d1.date = ia.log_date
LEFT JOIN dim_product p on p.asin = ia.asin
WHERE ia.log_date > DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK)
AND week(ia.log_date) < week(CURDATE())
GROUP BY d1.`week`, ia.asin, p.sku
) amz ON amz.log_week = dim.`week` and amz.sku = dim.sku

# YES INVENTORY
LEFT JOIN
(
SELECT d2.`week`, iy.sku, avg(iy.total) as inv_y4a
FROM inventory_yes4all iy
LEFT JOIN dim_date d2 on d2.date = iy.log_date
WHERE iy.log_date > DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE())-1 DAY),INTERVAL 26 WEEK)
AND week(iy.log_date) < week(CURDATE())
GROUP BY d2.`week`, iy.sku
) yes ON dim.sku = yes.sku and dim.`week` = yes.`week`



""")

myresult = mycursor.fetchall()

In [12]:
column_name = [i[0] for i in mycursor.description]
column_name

['week', 'sku', 'sale', 'daily_sale', 'inv_amz', 'inv_y4a', 'QNT_REMOVE_OOS']

In [15]:
raw = pd.DataFrame(myresult, columns = column_name)
raw

       week   sku  sale daily_sale  inv_amz    inv_y4a QNT_REMOVE_OOS
0        19  03NF    47    10.3553  95.5000  1867.1667        47.0000
1        20  03NF    62    10.3553  47.1429  1754.2857        62.0000
2        21  03NF    46    10.3553  38.0000  1982.0000        46.0000
3        22  03NF    59    10.3553  37.8571  2082.0000        59.0000
4        23  03NF    84    10.3553  54.1429  1860.7143        84.0000
...     ...   ...   ...        ...      ...        ...            ...
26619    40  HUJZ  None     2.0000     None    80.0000         0.0000
26620    41  HUJZ  None     2.0000     None    80.0000         0.0000
26621    42  HUJZ  None     2.0000     None    80.0000         0.0000
26622    43  HUJZ  None     2.0000     None    80.0000         0.0000
26623    44  HUJZ  None     2.0000     None    80.0000         0.0000

[26624 rows x 7 columns]

In [20]:
table2 = mydb.cursor()

table2.execute("""
SELECT sku, product_name , company, life_cycle, vendor_actual FROM `dim_product`
""")

info = table2.fetchall()

In [21]:
column_info = [i[0] for i in table2.description]
column_info

['sku', 'product_name', 'company', 'life_cycle', 'vendor_actual']

In [22]:
info = pd.DataFrame(info, columns = column_info)
info

,sku,product_name,company,life_cycle,vendor_actual
0,01JV,Supply WH - Brown Box - Dumbbell Neoprene - 10...,Y4A,WH Supply - Temp,Jason
1,02MN,Weight Plate 1in - 10 lbs - 4 pcs,Y4A,Normal,"GY,Jason"
2,03G0,Stability Wooden Rocker Board - Red,Y4A,Unknown,None
3,03NF,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal,"GY,Roger"
4,07AG,Agility Hex Ring - 12 Rings,Y4A,Normal,Jason
...,...,...,...,...,...
3708,ZZE3,Dumbbell Adjustable - 200 lbs - Package 3,Y4A,Normal,"Jason,Leeton"
3709,ZZU4,Bow Resistance Band,Y4A,Withdrawal,Roger
3710,ZZXT,Dumbbell PVC - 12 lbs - Emeral Green - Single,Y4A,Inactived,Jason
3711,ZZZH,Axe H307 Black + Knife H153B,Y4A,Withdrawal,None
3712,ZZZZ,Inner Brown Box for USPS Large Flat Rate Box,Y4A,Unknown,Jason

In [23]:
full_data = pd.merge(raw, info[['sku','product_name','company','life_cycle']], on = 'sku', how = 'left')
full_data.head()

,week,sku,sale,daily_sale,inv_amz,inv_y4a,QNT_REMOVE_OOS,product_name,company,life_cycle
0,19,03NF,47,10.3553,95.5000,1867.1667,47.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
1,20,03NF,62,10.3553,47.1429,1754.2857,62.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
2,21,03NF,46,10.3553,38.0000,1982.0000,46.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
3,22,03NF,59,10.3553,37.8571,2082.0000,59.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
4,23,03NF,84,10.3553,54.1429,1860.7143,84.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal

In [26]:
full_data = full_data[~full_data['life_cycle'].isnull()]

In [28]:
full_data[full_data['life_cycle'].isnull()]

Empty DataFrame
Columns: [week, sku, sale, daily_sale, inv_amz, inv_y4a, QNT_REMOVE_OOS, product_name, company, life_cycle]
Index: []

In [30]:
full_data

,week,sku,sale,daily_sale,inv_amz,inv_y4a,QNT_REMOVE_OOS,product_name,company,life_cycle
0,19,03NF,47,10.3553,95.5000,1867.1667,47.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
1,20,03NF,62,10.3553,47.1429,1754.2857,62.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
2,21,03NF,46,10.3553,38.0000,1982.0000,46.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
3,22,03NF,59,10.3553,37.8571,2082.0000,59.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
4,23,03NF,84,10.3553,54.1429,1860.7143,84.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
...,...,...,...,...,...,...,...,...,...,...
26619,40,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26620,41,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26621,42,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26622,43,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26623,44,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction

In [54]:
#filter out mask and HMD
df = full_data[(~full_data['product_name'].str.contains('Mask')) & (~full_data['company'].str.contains('HMD'))]
df

,week,sku,sale,daily_sale,inv_amz,inv_y4a,QNT_REMOVE_OOS,product_name,company,life_cycle
0,19,03NF,47,10.3553,95.5000,1867.1667,47.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
1,20,03NF,62,10.3553,47.1429,1754.2857,62.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
2,21,03NF,46,10.3553,38.0000,1982.0000,46.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
3,22,03NF,59,10.3553,37.8571,2082.0000,59.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
4,23,03NF,84,10.3553,54.1429,1860.7143,84.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
...,...,...,...,...,...,...,...,...,...,...
26619,40,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26620,41,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26621,42,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26622,43,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26623,44,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction

In [55]:
#filter life cycle
lc = ['Turnkey','Normal','1st year Growth', 'Introduction','Withdrawal','Local Only - Temp']
df = df[df['life_cycle'].isin(lc)]
df

,week,sku,sale,daily_sale,inv_amz,inv_y4a,QNT_REMOVE_OOS,product_name,company,life_cycle
0,19,03NF,47,10.3553,95.5000,1867.1667,47.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
1,20,03NF,62,10.3553,47.1429,1754.2857,62.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
2,21,03NF,46,10.3553,38.0000,1982.0000,46.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
3,22,03NF,59,10.3553,37.8571,2082.0000,59.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
4,23,03NF,84,10.3553,54.1429,1860.7143,84.0000,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal
...,...,...,...,...,...,...,...,...,...,...
26619,40,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26620,41,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26621,42,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26622,43,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction
26623,44,HUJZ,None,2.0000,None,80.0000,0.0000,Dumbbell - Urethane - 40lbs,Y4A,Introduction

In [56]:
df['QNT_REMOVE_OOS'] = df['QNT_REMOVE_OOS'].astype(int)

<ipython-input-56-25b628418849>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['QNT_REMOVE_OOS'] = df['QNT_REMOVE_OOS'].astype(int)

In [57]:
df['QNT_REMOVE_OOS']

0        47
1        62
2        46
3        59
4        84
         ..
26619     0
26620     0
26621     0
26622     0
26623     0
Name: QNT_REMOVE_OOS, Length: 22334, dtype: int32

In [58]:
df = pd.pivot_table(df,values='QNT_REMOVE_OOS', index = ['week'], columns = ['sku'])
df

sku,02MN,03NF,07AG,08KY,09SM,0ELF,0JJV,0M61,1ARL,1J6H,...,ZS2H,ZSM8,ZSQM,ZT2X,ZVTJ,ZW2S,ZXSV,ZYLU,ZZCE,ZZU4
week,,,,,,,,,,,,,,,,,,,,,
19,120,47,55,0,35,0,83,0,6,35,...,0,12,17,4,86,0,157,1,85,1
20,120,62,20,0,29,0,239,0,16,26,...,6,2,17,8,78,12,286,19,113,0
21,120,46,12,0,31,2,151,6,16,57,...,48,12,17,14,75,34,275,19,47,1
22,120,59,32,0,33,0,176,6,3,57,...,102,5,17,16,62,0,213,37,1,2
23,120,84,36,1,83,0,109,2,24,70,...,139,12,17,26,51,0,245,14,74,1
24,120,88,36,1,48,0,66,10,13,97,...,143,12,17,32,10,0,598,25,74,2
25,120,97,30,0,82,0,58,10,25,105,...,146,1,17,6,18,70,702,29,43,7
26,120,87,39,0,63,0,46,10,31,37,...,137,12,0,3,20,70,424,23,76,0
27,120,95,47,0,80,0,75,10,23,49,...,122,1,0,4,15,70,174,27,74,2
28,120,47,69,0,123,0,134,10,6,60,...,153,8,0,6,8,70,315,49,74,0
29,120,119,37,0,57,0,246,10,9,69,...,142,2,0,9,2,70,124,23,63,2
30,120,142,35,0,34,0,282,10,4,62,...,130,11,0,8,64,70,222,46,70,1
31,68,139,4,1,4,0,148,10,10,68,...,142,6,0,2,51,70,157,23,91,0
32,12,223,1,18,32,6,303,10,10,58,...,135,3,1,7,19,70,172,38,66,2
33,120,302,2,0,21,0,300,10,27,76,...,132,2,0,6,40,70,103,41,66,1
34,39,253,2,2,15,0,321,10,14,150,...,148,3,0,6,26,70,206,44,102,1
35,146,46,22,26,13,0,221,10,14,251,...,143,4,1,7,37,70,175,34,66,1
36,69,89,1,26,15,0,227,10,37,204,...,112,12,2,6,85,70,219,33,59,0
37,5,84,22,26,13,0,267,10,13,73,...,171,7,0,5,97,70,203,32,62,0
38,120,134,22,26,2,4,147,10,14,93,...,134,13,13,9,3,70,143,26,47,2
39,5,98,22,26,0,20,102,10,22,80,...,128,9,11,5,31,6,75,35,30,0
40,120,12,1,26,13,0,133,10,25,116,...,133,13,5,6,36,2,31,31,1,1
41,120,3,22,26,26,0,143,10,20,132,...,123,12,27,9,21,70,58,30,1,1
42,120,3,22,26,38,0,103,10,15,80,...,120,11,6,5,22,70,10,16,74,1
43,120,2,22,26,51,0,97,10,14,79,...,135,5,5,0,27,70,115,19,74,1
44,120,72,22,26,45,0,88,10,4,62,...,170,18,2,6,20,6,170,24,1,1

In [59]:
df = pd.DataFrame(df.to_records())
df

,week,02MN,03NF,07AG,08KY,09SM,0ELF,0JJV,0M61,1ARL,...,ZS2H,ZSM8,ZSQM,ZT2X,ZVTJ,ZW2S,ZXSV,ZYLU,ZZCE,ZZU4
0,19,120,47,55,0,35,0,83,0,6,...,0,12,17,4,86,0,157,1,85,1
1,20,120,62,20,0,29,0,239,0,16,...,6,2,17,8,78,12,286,19,113,0
2,21,120,46,12,0,31,2,151,6,16,...,48,12,17,14,75,34,275,19,47,1
3,22,120,59,32,0,33,0,176,6,3,...,102,5,17,16,62,0,213,37,1,2
4,23,120,84,36,1,83,0,109,2,24,...,139,12,17,26,51,0,245,14,74,1
5,24,120,88,36,1,48,0,66,10,13,...,143,12,17,32,10,0,598,25,74,2
6,25,120,97,30,0,82,0,58,10,25,...,146,1,17,6,18,70,702,29,43,7
7,26,120,87,39,0,63,0,46,10,31,...,137,12,0,3,20,70,424,23,76,0
8,27,120,95,47,0,80,0,75,10,23,...,122,1,0,4,15,70,174,27,74,2
9,28,120,47,69,0,123,0,134,10,6,...,153,8,0,6,8,70,315,49,74,0
10,29,120,119,37,0,57,0,246,10,9,...,142,2,0,9,2,70,124,23,63,2
11,30,120,142,35,0,34,0,282,10,4,...,130,11,0,8,64,70,222,46,70,1
12,31,68,139,4,1,4,0,148,10,10,...,142,6,0,2,51,70,157,23,91,0
13,32,12,223,1,18,32,6,303,10,10,...,135,3,1,7,19,70,172,38,66,2
14,33,120,302,2,0,21,0,300,10,27,...,132,2,0,6,40,70,103,41,66,1
15,34,39,253,2,2,15,0,321,10,14,...,148,3,0,6,26,70,206,44,102,1
16,35,146,46,22,26,13,0,221,10,14,...,143,4,1,7,37,70,175,34,66,1
17,36,69,89,1,26,15,0,227,10,37,...,112,12,2,6,85,70,219,33,59,0
18,37,5,84,22,26,13,0,267,10,13,...,171,7,0,5,97,70,203,32,62,0
19,38,120,134,22,26,2,4,147,10,14,...,134,13,13,9,3,70,143,26,47,2
20,39,5,98,22,26,0,20,102,10,22,...,128,9,11,5,31,6,75,35,30,0
21,40,120,12,1,26,13,0,133,10,25,...,133,13,5,6,36,2,31,31,1,1
22,41,120,3,22,26,26,0,143,10,20,...,123,12,27,9,21,70,58,30,1,1
23,42,120,3,22,26,38,0,103,10,15,...,120,11,6,5,22,70,10,16,74,1
24,43,120,2,22,26,51,0,97,10,14,...,135,5,5,0,27,70,115,19,74,1
25,44,120,72,22,26,45,0,88,10,4,...,170,18,2,6,20,6,170,24,1,1

In [48]:
def find_new_x (x,j,col):
    z = 3
    done = False
    mean = df[col].mean()
    std = df[col].std()
    while done == False:
        x = mean + z*std
        df[col][j] = x
        if df[col].std() == 0:
            z = z - 0.25
        else:
            z_new = (x - df[col].mean())/df[col].std()
            if z_new >= 3:
                z = z - 0.25
            else:
                done = True
    return(x)

In [49]:
def find_new_x_n (x,j,col):
    z = -3
    done = False
    mean = df[col].mean()
    std = df[col].std()
    while done == False:
        x = mean + z*std
        df[col][j] = x
        if df[col].std() == 0:
            z = z + 0.25
        else:
            z_new = (x - df[col].mean())/df[col].std()
            if z_new <= -3:
                z = z + 0.25
            else:
                done = True
    return(x)

In [62]:
def cleancol(col):
    restart = True
    while restart:
        restart = False
        if (df[col].std() == 0) or (df[col].nunique() <= 0.3*len(df)):
            df[col] = df[col]
        else:
            for i in range(0,len(df)):
                if ((df.iloc[i,df.columns.get_loc(col)]- df[col].mean())/df[col].std()) > 3:
                    df.iloc[i,df.columns.get_loc(col)] = find_new_x(df[col][i],i,col)
                    restart = True
                    break
                elif ((df.iloc[i,df.columns.get_loc(col)]- df[col].mean())/df[col].std()) < -3:
                    df.iloc[i,df.columns.get_loc(col)] = find_new_x_n(df[col][i],i,col)
                    restart = True
                    break
                else:
                    df.iloc[i,df.columns.get_loc(col)] = df.iloc[i,df.columns.get_loc(col)]
    return df[col]

In [52]:
df['WNLG'].nunique()

2

In [63]:
for q in df.columns[1:]:
    print(q)
    cleancol(q)

02MN
03NF
07AG
08KY
09SM
0ELF
0JJV
0M61
1ARL
1J6H
1NHS
1RNH
1XTU
1YHQ
2JH2
2KLC
2UBN
36DB
37XZ
399P
3D9D
3KHB

<ipython-input-48-b64ff87a7221>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][j] = x

3MX1
3MXN
3VSD
3W51
3Y12
3YZV
3ZMT
45MH
4M82
4YHG
4Z9X
51F7
5AF4
5CH9
5KF7
5NRP
5SA0
5SU6
60DA
63ML
64TL
673J
6B9Q
6CLE
6KWK
6LWD
6RX7
6V3G
6Y86
7BW4
7CPK
7FVT
7KMQ
7MZ2
7RBK
7VBX
7XU4
7ZKK
8ACX
8BX6
8F0P
8GHV
8JD3
8K3B
8NFL
8XQ1
8YCR
91VY
9E00
9KSP
9PRY
9RNM
9RV3
9SWE
9T3D
9TZN
9UAZ
9VRG
A0QD
A4BN
A8QC
A9CZ
A9Q1
AAAG
AAAH
AAAI
AAAR
AAAS
AAAT
AAAU
AAAV
AC1G
AC42
AEA6
AJJM
AJSG
AKHG
AKNK
AKU5
AMNS
ANCT
ANCU
APMB
AQ16
AS5W
ASCJ
AVMH
AWNY
AXW9
AY14
AYGZ
AYPK
AZ6B
B0AL
B0RJ
B1BQ
B3HD
B42T
B62R
B6D1
BAAA
BAAB
BAAC
BAAD
BAAE
BAAH
BAAI
BAAN
BAAW
BAAX
BACD
BCSS
BDA1
BDM8
BDXR
BK27
BKVQ
BL0J
BLC7
BME4
BNRE
BOE5
BP5K
BQG1
BW0X
BW7V
BWRM
BXGM
BXJ4
BZ4G
C1AW
C1KK
C2K6
C2KR
C444
C5CT
C5TJ
C756
C84X
C954
CAAH
CAAI
CAWR
CAY1
CCA8
CCZN
CFCN
CFE9
CFH8
CFL8
CGAS
CKBG
CKGO
CKT4
CLHZ
CLUK
CM5X
CMJ4
CMX1
CNMF
CREG
CTZ7
CX7L
CXCM
CXKW
CXMR
CZB5
D1IB
D1MY
D25M
D297
D2CL
D377
D37R
D5XI
D68N
D68S
D6RW
D7SL
D8FC
D8U0
D8UJ
D9YB
DA0G
DABM
DAT7
DB6F
DCPL
DFPW
DFTC
DJ3U
DKR2
DL2Z
DMHY
DNC8
DOHL
DS24
DSAX
DU1T
DU7Y
DWJE
DWP2
DWZ2
DXD3
DY4P
DYPM
DYR0
DZIK
E071
E0KQ
E0QT
E3SK
E3VK
E470
E5BF
E5UA
E833
EBGL
EDYU
EGXQ
EH7A
EJ7F
EK0M
EK64
EM1K
ENGA
ENSY
ENT7
ENYH
ESU9
ETHR
EVPB
EVZU
EWUN
EZR0
F410
F773
FAZ7
FDXV
FE6J
FEQB
FF42
FFYE
FKD4
FKKQ
FLCD
FLE2
FLKJ
FMUV
FNB3
FNR8
FNUJ
FPDM
FQGZ
FQHB
FR6C
FR8L
FSPG
FSXY
FUKR
FWJ5
FXF2
FXR5
FY9H
G1JE
G1YL
G2M8
G2SZ
G3JF
G6BL
G8L3
G8Z2
G9UE
GAWD
GBVJ
GC1F
GC5H
GE8E
GGAA
GGZT
GJHR
GKFU
GM1F
GMP1
GN6Q
GN9C
GP9B
GPB4
GPK4
GW8K
GXLQ
GYRA
H03L
H1EN
H23F
H5BP
H6NC
H890
HA0T
HADZ
HBNV
HCBV
HD1K
HJ0Y
HK5N
HKJQ
HL1V
HLL9
HMU7
HP9K
HQKY
HRV0
HSWD
HUJZ
HUZ9
HW3J
HWD8
HWGX
HXP9
J012
J1RU
J3CJ
J43T
J96J
JCKJ
JCT9
JDL3
JHJA
JJRY
JJXG
JLMS
JNPQ
JQJ0
JRXV
JV4F
JVLM
JVWZ
JX7N
JXLX
JYW1
K1J7
K1VV
K23E
K2KY
K2LK
K3TC
K4ZL
K51T
K5TH
K6ES
K7HC
K8J7
K9GD
K9OF
KA73
KAL0
KC1X
KC5E
KC6V
KCC8
KD6S
KE6V
KFGB
KFKQ
KG5R
KGMO
KGWS
KH3Q
KHM1
KICY
KJ24
KJHJ
KJO2
KKTV
KKYV
KL9L
KLD1
KMV3
KN32
KNM0
KP9D
KPGO
KPQM
KPVX
KQR2
KS92
KT98
KTD1
KTRZ
KUTC
KVMO
KVWI
KVWK
KX5B
KX7W
KXIF
KYN8
KYQX
KYXB
KZ6E
L05Q
L116
L1CF
L5PY
L620
L6CJ
L6GD
L71U
L7VE
L8QF
LABE
LAJX
LBK8
LBU9
LBYM
LBZC
LC77
LCR2
LCT4
LCUR
LDKA
LDN6
LF0E
LF3G
LF4B
LG4J
LG75
LGK4
LJGX
LKR3
LL3M
LLDB
LMLY
LMTT
LPL6
LPSF
LRKD
LSRJ
LU8R
LVAT
LX85
LZNV
M0HX
M0JA
M1KJ
M1WX
M2KU
M37A
M4NR
M5PF
M69U
M6KK
M6MX
M755
M88E
M89B
M8RZ
M9VN
MBK5
MBV3
MEVK
MFJG
MGEE
ML4D
MM7B
MMSX
MNU5
MNX7
MUN4
MVCV
MVKM
MVKU
MW1G
MW5D
MX6D
MY8Y
N0SY
N1XM
N21X
N6HM
N8Z8
N906
N90Y
N97S
NA09
NBNU
NC7X
NDDP
NDY3
NEWX
NH42
NHK4
NKDH
NLHH
NM5Y
NSBE
NSJU
NT7D
NUC2
NUC9
NUD9
NUEH
NVF1
NVLS
NVU1
NVW5
NW1L
NWBF
NXP1
NYRJ
NZ32
NZQD
P0GR
P376
P3JT
P5MV
P5R9
P617
P7EF
P9L0
P9PL
PBKZ
PCT7
PEDP
PEQV
PF8Z
PFB5
PFP9
PGJH
PGLU
PH2C
PHJG
PJ5M
PLUF
PMDS
PPPD
PTB7
PUCB
PVMZ
PVS6
PX4K
PXUE
PY2B
PZ2D
Q10E
Q3VL
Q4XX
Q5HV
Q6FE
Q8JB
QAJM
QBQ8
QCG3
QD6F
QE2Z
QGZB
QH8D
QMDK
QQ99
QQFR
QRSG
QS8J
QSNM
QSP2
QTDV
QTG0
QUXU
QX6F
QZHJ
R1KQ
R3X8
R4JJ
R7TM
R7YC
R8D1
R9T1
RAT3
RDLX
RGKX
RJTM
RJWA
RK16
RL5X
RMEM
RN3N
RP09
RPL7
RPX4
RRSA
RSYV
RTMA
RTRB
RTWL
RTYJ
RUR5
RVW6
RW6H
RXNR
RYVK
RZ4E
RZ7D
RZBP
RZLL
RZP2
S11J
S1GA
S2ZC
S2ZV
S38S
S391
S3QA
S5M3
S5QB
S5ZT
S6F6
S6FA
S6KR
S6TA
S92C
S9RG
SAMJ
SAT1
SAT4
SC7J
SD7M
SEU9
SGFM
SGQ6
SGQV
SGRU
SH34
SJ31
SJ46
SJCT
SJXD
SLF4
SLN3
SMAS
SN5M
SNGT
SNGY
SPZJ
SQYY
SROG
SS83
SW0E
SW34
SX2G
SXTV
SZU0
SZZE
T1K8
T1XL
T3VS
T4WC
T5KH
T7UN
T8KA
T9BG
TA71
TB07
TDH7
TDV8
TF0A
TF0T
TFU4
TG2L
TGXY
TMHS
TML0
TN69
TP4S
TPH9
TQQT
TSA1
TSMM
TSR9
TSUJ
TTBB
TUUK
TV04
TVBA
TWQQ
TX83
TXPZ
U3FD
U599
U5WN
U724
U7LA
U7TV
U7U4
U853
U99M
UAD0
UAU2
UHFC
UHKM
UJNW
UNM5
UP3S
UQ59
UR09
USDS
UTSM
UTZ9
UU2F
UXB3
UYSN
UZAJ
V2J1
V2RN
V3L6
V40R
V48T
V6C1
V7Q0
V9FX
VBZ2
VCTH
VD6E
VGCV
VJ51
VJHT
VJQ3
VKKG
VMB9
VN8J
VQWZ
VRF6
VS4S
VTH4
VYMW
VZ5G
W1JP
W44J
W5NU
W6P6
WA0A
WDD0
WE3N
WGAF
WJWS
WK3S
WMN2
WNBF
WNLG
WPJE
WRA0
WREK
WRMQ
WST9
WTGA
WUVZ
WZ48
X19F
X2F3
X4AH
X5GW
X5VB
X6WD
XATG
XBBH
XDJS
XEVY
XEZC
XJ90
XL4D
XL60
XPAJ
XT3Y
XUT6
XUZJ
XVWR
Y0K8
Y2K1
Y2XD
Y40W
Y4WN
Y5G8
Y63Q
Y776
Y7YF
Y9KM
Y9TQ
YC5E
YCSH
YD7B
YFKC
YJ9A
YJDZ
YLTL
YN1X
YQ7Z
YR74
YRG1
YRHJ
YRRX
YSCC
YU7D
YUQ9
YVHF
YWF1
YWQ4
YX8L
YXFX
YYN2
YZJ5
Z0T1
Z1ZJ
Z2YS
Z358
Z4ML
Z6BK
Z9AQ
Z9TZ
ZC4Y
ZCXN
ZF94
ZFTA
ZG46
ZKCS
ZKZR
ZL7L
ZNNT
ZR6J
ZRLX
ZS2H
ZSM8
ZSQM
ZT2X
ZVTJ
ZW2S
ZXSV
ZYLU
ZZCE
ZZU4

In [64]:
df

,week,02MN,03NF,07AG,08KY,09SM,0ELF,0JJV,0M61,1ARL,...,ZS2H,ZSM8,ZSQM,ZT2X,ZVTJ,ZW2S,ZXSV,ZYLU,ZZCE,ZZU4
0,19,120,47,55,0,35,0,83,0,6,...,0,12,17,4.000000,86,0,157.000000,1,85,1
1,20,120,62,20,0,29,0,239,0,16,...,6,2,17,8.000000,78,12,286.000000,19,113,0
2,21,120,46,12,0,31,2,151,6,16,...,48,12,17,14.000000,75,34,275.000000,19,47,1
3,22,120,59,32,0,33,0,176,6,3,...,102,5,17,16.000000,62,0,213.000000,37,1,2
4,23,120,84,36,1,83,0,109,2,24,...,139,12,17,26.000000,51,0,245.000000,14,74,1
5,24,120,88,36,1,48,0,66,10,13,...,143,12,17,25.698483,10,0,598.000000,25,74,2
6,25,120,97,30,0,82,0,58,10,25,...,146,1,17,6.000000,18,70,646.463359,29,43,7
7,26,120,87,39,0,63,0,46,10,31,...,137,12,0,3.000000,20,70,424.000000,23,76,0
8,27,120,95,47,0,80,0,75,10,23,...,122,1,0,4.000000,15,70,174.000000,27,74,2
9,28,120,47,69,0,123,0,134,10,6,...,153,8,0,6.000000,8,70,315.000000,49,74,0
10,29,120,119,37,0,57,0,246,10,9,...,142,2,0,9.000000,2,70,124.000000,23,63,2
11,30,120,142,35,0,34,0,282,10,4,...,130,11,0,8.000000,64,70,222.000000,46,70,1
12,31,68,139,4,1,4,0,148,10,10,...,142,6,0,2.000000,51,70,157.000000,23,91,0
13,32,12,223,1,18,32,6,303,10,10,...,135,3,1,7.000000,19,70,172.000000,38,66,2
14,33,120,302,2,0,21,0,300,10,27,...,132,2,0,6.000000,40,70,103.000000,41,66,1
15,34,39,253,2,2,15,0,321,10,14,...,148,3,0,6.000000,26,70,206.000000,44,102,1
16,35,146,46,22,26,13,0,221,10,14,...,143,4,1,7.000000,37,70,175.000000,34,66,1
17,36,69,89,1,26,15,0,227,10,37,...,112,12,2,6.000000,85,70,219.000000,33,59,0
18,37,5,84,22,26,13,0,267,10,13,...,171,7,0,5.000000,97,70,203.000000,32,62,0
19,38,120,134,22,26,2,4,147,10,14,...,134,13,13,9.000000,3,70,143.000000,26,47,2
20,39,5,98,22,26,0,20,102,10,22,...,128,9,11,5.000000,31,6,75.000000,35,30,0
21,40,120,12,1,26,13,0,133,10,25,...,133,13,5,6.000000,36,2,31.000000,31,1,1
22,41,120,3,22,26,26,0,143,10,20,...,123,12,27,9.000000,21,70,58.000000,30,1,1
23,42,120,3,22,26,38,0,103,10,15,...,120,11,6,5.000000,22,70,10.000000,16,74,1
24,43,120,2,22,26,51,0,97,10,14,...,135,5,5,0.000000,27,70,115.000000,19,74,1
25,44,120,72,22,26,45,0,88,10,4,...,170,18,2,6.000000,20,6,170.000000,24,1,1

In [65]:
df.to_csv('cleaned_data_Nov.csv',index = False)