In [29]:
import pandas as pd
import numpy as np
from scipy import stats
from math import nan
from sqlalchemy import create_engine
import pyodbc
import os
import re

In [2]:
os.getcwd()

'C:\\Users\\truong le'

In [3]:
os.chdir('D:\school\làm việc\Yes4All')

In [42]:
raw = pd.read_excel('data_for_forecast.xlsx')
raw.head()

   week   sku  quantity  daily_qnt  inv_amz  inv_y4a  qnt_oos
0     9  8ACX      17.0     2.1408     74.0    618.0     17.0
1    10  8ACX      34.0     2.1408     62.5    574.5     34.0
2    11  8ACX      31.0     2.1408     42.0    520.0     31.0
3    12  8ACX      33.0     2.1408     22.0    499.5     33.0
4    13  8ACX      55.0     2.1408     16.5    446.0     55.0

In [43]:
info = pd.read_excel('Basic_Product_Info_Report-2021-09-09.xlsx')
info.head()

,sku,Title,Company,Life_cycle,Agent_vendor
0,01JV,Supply WH - Brown Box - Dumbbell Neoprene - 10...,Y4A,WH Supply - Temp,Jason Agent
1,02MN,Weight Plate 1in - 10 lbs - 4 pcs,Y4A,Normal,Jason Agent
2,03NF,Combo Agility Ladder Yellow 12 Rung + Agility ...,Y4A,Normal,Roger Agent
3,07AG,Agility Hex Ring - 12 Rings,Y4A,Normal,Jason Agent
4,07V0,Wood Bag - Black / Grey,Y4A,Obsoleted,Roger Agent

In [44]:

full_data = pd.merge(raw, info[['sku','Title','Company','Life_cycle']], on = 'sku', how = 'left')
full_data.head()

,week,sku,quantity,daily_qnt,inv_amz,inv_y4a,qnt_oos,Title,Company,Life_cycle
0,9,8ACX,17.0,2.1408,74.0,618.0,17.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
1,10,8ACX,34.0,2.1408,62.5,574.5,34.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
2,11,8ACX,31.0,2.1408,42.0,520.0,31.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
3,12,8ACX,33.0,2.1408,22.0,499.5,33.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
4,13,8ACX,55.0,2.1408,16.5,446.0,55.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal

In [45]:
full_data[full_data['Life_cycle'].isnull()]

Empty DataFrame
Columns: [week, sku, quantity, daily_qnt, inv_amz, inv_y4a, qnt_oos, Title, Company, Life_cycle]
Index: []

In [46]:
#filter out mask and HMD
df = full_data[(~full_data['Title'].str.contains('Mask')) & (~full_data['Company'].str.contains('HMD'))]
df

,week,sku,quantity,daily_qnt,inv_amz,inv_y4a,qnt_oos,Title,Company,Life_cycle
0,9,8ACX,17.0,2.1408,74.0,618.0,17.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
1,10,8ACX,34.0,2.1408,62.5,574.5,34.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
2,11,8ACX,31.0,2.1408,42.0,520.0,31.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
3,12,8ACX,33.0,2.1408,22.0,499.5,33.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
4,13,8ACX,55.0,2.1408,16.5,446.0,55.0,Kids Puzzle - 9 colour - 36 tiles,Y4A,Withdrawal
...,...,...,...,...,...,...,...,...,...,...
25078,31,CTZ7,NaN,32.3333,NaN,206.0,0.0,Suspension Straps - Yellow,Y4A,Withdrawal
25079,32,CTZ7,NaN,32.3333,NaN,206.0,0.0,Suspension Straps - Yellow,Y4A,Withdrawal
25080,33,CTZ7,NaN,32.3333,NaN,206.0,0.0,Suspension Straps - Yellow,Y4A,Withdrawal
25081,34,CTZ7,NaN,32.3333,NaN,206.0,0.0,Suspension Straps - Yellow,Y4A,Withdrawal
25082,35,CTZ7,1.0,32.3333,NaN,205.5,1.0,Suspension Straps - Yellow,Y4A,Withdrawal

In [47]:
#filter life cycle
lc = ['Turnkey','Normal','1st year Growth', 'Introduction']
df = df[df['Life_cycle'].isin(lc)]
df

,week,sku,quantity,daily_qnt,inv_amz,inv_y4a,qnt_oos,Title,Company,Life_cycle
27,9,KQR2,9.0,2.3764,0.0,751.0,9.0000,Macebell 10lb - New,Y4A,Normal
28,10,KQR2,34.0,2.3764,0.0,731.0,34.0000,Macebell 10lb - New,Y4A,Normal
29,11,KQR2,39.0,2.3764,0.0,789.5,39.0000,Macebell 10lb - New,Y4A,Normal
30,12,KQR2,51.0,2.3764,31.0,655.0,51.0000,Macebell 10lb - New,Y4A,Normal
31,13,KQR2,38.0,2.3764,76.0,646.0,38.0000,Macebell 10lb - New,Y4A,Normal
...,...,...,...,...,...,...,...,...,...,...
24835,31,G2M8,NaN,1.1377,NaN,3.0,7.9639,Slam Ball - Triangle - Black - 10lbs,Y4A,Normal
24836,32,G2M8,NaN,1.1377,NaN,3.0,7.9639,Slam Ball - Triangle - Black - 10lbs,Y4A,Normal
24837,33,G2M8,NaN,1.1377,NaN,NaN,7.9639,Slam Ball - Triangle - Black - 10lbs,Y4A,Normal
24838,34,G2M8,NaN,1.1377,NaN,NaN,7.9639,Slam Ball - Triangle - Black - 10lbs,Y4A,Normal
24839,35,G2M8,NaN,1.1377,NaN,NaN,7.9639,Slam Ball - Triangle - Black - 10lbs,Y4A,Normal

In [48]:
df = pd.pivot_table(df,values='qnt_oos', index = ['week'], columns = ['sku'])

In [49]:
df = pd.DataFrame(df.to_records())
df.head(10)

,week,9,02MN,03NF,07AG,09SM,0JJV,1ARL,1J6H,1NHS,...,ZR6J,ZRLX,ZS2H,ZSM8,ZSQM,ZT2X,ZVTJ,ZXSV,ZYLU,ZZCE
0,9,156.0,0.000,2.0,8.0,27.0,18.0,15.0,40.0,5.0000,...,12.0043,7.0,130.0,13.0,7.0,6.0,37.0,143.2032,16.0000,7.014
1,10,235.0,0.000,4.0,33.0,91.0,60.0,34.0,132.0,10.0000,...,12.0043,18.0,439.0,22.0,7.0,5.0,82.0,143.2032,32.0000,7.014
2,11,67.0,7.000,6.0,32.0,56.0,197.0,47.0,135.0,23.3849,...,12.0043,27.0,354.0,29.0,7.0,11.0,95.0,143.2032,42.0000,7.014
3,12,309.0,8.000,13.0,40.0,60.0,177.0,50.0,136.0,5.0000,...,12.0043,14.0,233.0,26.0,7.0,12.0,98.0,143.2032,42.0000,7.014
4,13,299.0,8.512,15.0,32.0,33.0,55.0,29.0,109.0,23.3849,...,12.0043,14.0,95.0,16.0,7.0,4.0,105.0,143.2032,30.0000,7.014
5,14,194.0,8.512,27.0,33.0,16.0,1.0,27.0,127.0,23.3849,...,12.0043,14.0,39.0,12.0,7.0,9.0,59.0,143.2032,19.0000,7.014
6,15,135.0,8.512,32.0,38.0,10.0,186.0,30.0,101.0,23.3849,...,12.0043,14.0,11.0,6.0,7.0,21.0,74.0,143.2032,1.0000,7.014
7,16,154.0,8.512,19.0,35.0,22.0,168.0,36.0,117.0,23.3849,...,12.0043,14.0,0.0,6.0,7.0,13.0,54.0,70.0000,1.0000,7.014
8,17,114.0,8.512,24.0,41.0,28.0,84.0,37.0,65.0,23.3849,...,12.0043,14.0,1.0,8.0,7.0,7.0,100.0,30.0000,17.0261,7.014
9,18,146.0,8.512,40.0,42.0,46.0,234.0,22.0,62.0,23.3849,...,12.0043,14.0,2.0,7.0,7.0,5.0,106.0,54.0000,17.0261,7.014

In [50]:
def find_new_x (x,j,col):
    z = 3
    done = False
    mean = df[col].mean()
    std = df[col].std()
    while done == False:
        x = mean + z*std
        df[col][j] = x
        if df[col].std() == 0:
            z = z - 0.25
        else:
            z_new = (x - df[col].mean())/df[col].std()
            if z_new >= 3:
                z = z - 0.25
            else:
                done = True
    return(x)

In [51]:
def find_new_x_n (x,j,col):
    z = -3
    done = False
    mean = df[col].mean()
    std = df[col].std()
    while done == False:
        x = mean + z*std
        df[col][j] = x
        if df[col].std() == 0:
            z = z + 0.25
        else:
            z_new = (x - df[col].mean())/df[col].std()
            if z_new <= -3:
                z = z + 0.25
            else:
                done = True
    return(x)

In [52]:
def cleancol(col):
    restart = True
    while restart:
        restart = False
        if (df[col].std() == 0) or (df.duplicated([col]).sum() > 0.9*len(df)):
            df[col] = df[col]
        else:
            for i in range(0,len(df)):
                if ((df.iloc[i,df.columns.get_loc(col)]- df[col].mean())/df[col].std()) > 3:
                    df.iloc[i,df.columns.get_loc(col)] = find_new_x(df[col][i],i,col)
                    restart = True
                    break
                elif ((df.iloc[i,df.columns.get_loc(col)]- df[col].mean())/df[col].std()) < -3:
                    df.iloc[i,df.columns.get_loc(col)] = find_new_x_n(df[col][i],i,col)
                    restart = True
                    break
                else:
                    df.iloc[i,df.columns.get_loc(col)] = df.iloc[i,df.columns.get_loc(col)]
    return df[col]

In [53]:
for q in df.columns[1:]:
    print(q)
    cleancol(q)

9
02MN

<ipython-input-50-b64ff87a7221>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][j] = x

03NF
07AG
09SM
0JJV
1ARL
1J6H
1NHS
1XTU
1YHQ
2KLC
36DB
37XZ
3KHB
3MX1
3VSD
3W51
3ZMT
45MH
4M82
4YHG
4Z9X
51F7
5CH9
5NRP
5SU6
60DA
63ML
64TL
673J
6B9Q
6CLE
6KWK
6LWD
7BW4
7CPK
7KMQ
7MZ2
7RBK
7XU4
8BX6
8F0P
8GHV
8K3B
8NFL
8YCR
9KSP
9PRY
9RNM
9RV3
9SWE
9TZN
9UAZ
9VRG
A0QD
A9CZ
A9Q1
AAAR
AAAS
AAAT
AAAU
AAAV
AC1G
AEA6
AJSG
AKHG
AKNK
AMNS
ANCT
ANCU
APMB
AQ16
AS5W
AVMH
AWNY
AXW9
AY14
AYPK
AZ6B
B0AL
B0RJ
B1BQ
B42T
B62R
B6D1
BAAH
BAAI
BAAW
BAAX
BACD
BCSS
BDA1
BDM8
BK27
BKVQ
BL0J
BLC7
BME4
BOE5
BP5K
BW0X
BW7V
BXGM
BXJ4
BZ4G
C1KK
C2K6
C444
C5TJ
C756
C954
CAAH
CAAI
CAWR
CAY1
CCZN
CFH8
CFL8
CGAS
CKT4
CLHZ
CLUK
CM5X
CMJ4
CMX1
CNMF
CREG
CX7L
CXCM
CXKW
CXMR
CZB5
D1IB
D1MY
D25M
D297
D2CL
D377
D37R
D5XI
D68N
D6RW
D7SL
D8FC
D8UJ
D9YB
DA0G
DABM
DAT7
DB6F
DFPW
DJ3U
DKR2
DL2Z
DMHY
DNC8
DOHL
DSAX
DU7Y
DWJE
DWP2
DWZ2
DXD3
DY4P
DYPM
DYR0
DZIK
E0KQ
E0QT
E3SK
E3VK
E470
E5UA
E833
EBGL
EDYU
EGXQ
EH7A
EJ7F
EK0M
EK64
EM1K
ENT7
ENYH
ETHR
EVPB
EVZU
EWUN
EZR0
F410
F773
FAZ7
FDXV
FEQB
FF42
FFYE
FLCD
FLE2
FLKJ
FMUV
FNUJ
FQGZ
FQHB
FR8L
FUKR
FWJ5
FXF2
FY9H
G1JE
G1YL
G2M8
G8Z2
G9UE
GAWD
GBVJ
GE8E
GGAA
GGZT
GJHR
GM1F
GMP1
GN9C
GP9B
GPB4
GW8K
GYRA
H23F
H5BP
H6NC
H890
HA0T
HADZ
HBNV
HD1K
HK5N
HKJQ
HL1V
HLL9
HMU7
HP9K
HQKY
HSWD
HUZ9
HW3J
HWD8
HWGX
HXP9
J012
J1RU
J43T
JCT9
JDL3
JHJA
JJRY
JJXG
JLMS
JNPQ
JQJ0
JRXV
JVLM
JX7N
JXLX
JYW1
K1J7
K1VV
K23E
K2KY
K2LK
K3TC
K51T
K5TH
K6ES
K7HC
K8J7
K9GD
K9OF
KA73
KAL0
KC1X
KC6V
KCC8
KD6S
KE6V
KFKQ
KG5R
KGMO
KGWS
KHM1
KICY
KJ24
KJHJ
KJO2
KKTV
KKYV
KL9L
KLD1
KMV3
KP9D
KPGO
KPQM
KPVX
KQR2
KS92
KT98
KTD1
KTRZ
KUTC
KVMO
KVWI
KVWK
KX5B
KX7W
KXIF
KYN8
KYQX
KYXB
KZ6E
L05Q
L116
L1CF
L5PY
L6CJ
L6GD
L7VE
L8QF
LABE
LAJX
LBK8
LBYM
LBZC
LC77
LCR2
LCT4
LCUR
LDKA
LDN6
LF3G
LF4B
LG75
LJGX
LL3M
LLDB
LMLY
LMTT
LPL6
LPSF
LRKD
LSRJ
LU8R
LVAT
LX85
LZNV
M0HX
M0JA
M1KJ
M2KU
M4NR
M5PF
M69U
M6MX
M88E
M89B
M8RZ
M9VN
MBK5
MEVK
MFJG
ML4D
MM7B
MMSX
MNU5
MNX7
MUN4
MVCV
MVKM
MVKU
MW1G
MW5D
MX6D
MY8Y
N0SY
N1XM
N21X
N906
N90Y
N97S
NBNU
NC7X
NDDP
NDY3
NEWX
NH42
NHK4
NKDH
NLHH
NSBE
NSJU
NT7D
NUC2
NUD9
NUEH
NVF1
NVLS
NVU1
NW1L
NWBF
NXP1
NYRJ
NZ32
NZQD
P0GR
P376
P3JT
P5MV
P5R9
P617
P7EF
P9PL
PBKZ
PCT7
PF8Z
PFB5
PFP9
PGJH
PGLU
PH2C
PHJG
PJ5M
PLUF
PMDS
PPPD
PTB7
PUCB
PVMZ
PVS6
PX4K
PXUE
PY2B
Q3VL
Q4XX
Q5HV
Q6FE
Q8JB
QCG3
QD6F
QE2Z
QGZB
QH8D
QQ99
QQFR
QRSG
QS8J
QSNM
QSP2
QTDV
QTG0
QUXU
QZHJ
R3X8
R4JJ
R7TM
R7YC
R8D1
R9T1
RJTM
RJWA
RL5X
RMEM
RN3N
RPL7
RRSA
RTMA
RTRB
RUR5
RVW6
RW6H
RXNR
RYVK
RZ4E
RZ7D
RZLL
RZP2
S11J
S1GA
S2ZC
S2ZV
S38S
S5M3
S5ZT
S6F6
S6FA
S6KR
S6TA
SAMJ
SAT1
SAT4
SC7J
SD7M
SEU9
SGFM
SGQ6
SGQV
SGRU
SJ31
SJ46
SJCT
SJXD
SLF4
SLN3
SN5M
SNGY
SPZJ
SQYY
SS83
SW34
SX2G
SXTV
SZU0
SZZE
T1K8
T1XL
T3VS
T4WC
T5KH
T7UN
T9BG
TA71
TB07
TDH7
TDV8
TF0A
TF0T
TFU4
TGXY
TMHS
TML0
TN69
TP4S
TPH9
TQQT
TSMM
TSR9
TSUJ
TTBB
TV04
TVBA
TWQQ
TX83
U3FD
U599
U724
U7LA
U7TV
U7U4
U99M
UAD0
UHFC
UHKM
UJNW
UP3S
UQ59
UR09
USDS
UTZ9
UU2F
UXB3
UYSN
UZAJ
V2RN
V3L6
V40R
V48T
V6C1
V7Q0
V9FX
VBZ2
VD6E
VGCV
VJ51
VJQ3
VKKG
VMB9
VN8J
VQWZ
VS4S
VYMW
VZ5G
W1JP
W44J
W6P6
WA0A
WDD0
WE3N
WGAF
WJWS
WK3S
WMN2
WNBF
WPJE
WREK
WRMQ
WST9
WTGA
WZ48
X19F
X2F3
X4AH
X5GW
X5VB
XATG
XBBH
XDJS
XEVY
XEZC
XJ90
XL4D
XPAJ
XT3Y
XUT6
XUZJ
XVWR
Y2K1
Y40W
Y4WN
Y5G8
Y63Q
Y776
Y7YF
Y9KM
Y9TQ
YCSH
YJ9A
YLTL
YQ7Z
YR74
YRHJ
YRRX
YSCC
YU7D
YVHF
YWF1
YWQ4
YXFX
YYN2
YZJ5
Z0T1
Z1ZJ
Z2YS
Z358
Z4ML
Z6BK
Z9AQ
Z9TZ
ZC4Y
ZCXN
ZF94
ZFTA
ZKCS
ZKZR
ZL7L
ZNNT
ZR6J
ZRLX
ZS2H
ZSM8
ZSQM
ZT2X
ZVTJ
ZXSV
ZYLU
ZZCE

In [54]:
df

,week,9,02MN,03NF,07AG,09SM,0JJV,1ARL,1J6H,1NHS,...,ZR6J,ZRLX,ZS2H,ZSM8,ZSQM,ZT2X,ZVTJ,ZXSV,ZYLU,ZZCE
0,9,156.0,0.000000,2.0,8.0000,27.0,18.0,15.0000,40.000000,5.0000,...,12.0043,7.0,130.000000,13.0000,7.0,6.000000,37.0,143.2032,16.0000,7.014
1,10,235.0,0.000000,4.0,33.0000,91.0,60.0,34.0000,132.000000,10.0000,...,12.0043,18.0,401.165228,22.0000,7.0,5.000000,82.0,143.2032,32.0000,7.014
2,11,67.0,7.000000,6.0,32.0000,56.0,197.0,47.0000,135.000000,23.3849,...,12.0043,27.0,354.000000,29.0000,7.0,11.000000,95.0,143.2032,42.0000,7.014
3,12,309.0,8.000000,13.0,40.0000,60.0,177.0,50.0000,136.000000,5.0000,...,12.0043,14.0,233.000000,26.0000,7.0,12.000000,98.0,143.2032,42.0000,7.014
4,13,299.0,8.512000,15.0,32.0000,33.0,55.0,29.0000,109.000000,23.3849,...,12.0043,14.0,95.000000,16.0000,7.0,4.000000,105.0,143.2032,30.0000,7.014
5,14,194.0,8.512000,27.0,33.0000,16.0,1.0,27.0000,127.000000,23.3849,...,12.0043,14.0,39.000000,12.0000,7.0,9.000000,59.0,143.2032,19.0000,7.014
6,15,135.0,8.512000,32.0,38.0000,10.0,186.0,30.0000,101.000000,23.3849,...,12.0043,14.0,11.000000,6.0000,7.0,21.000000,74.0,143.2032,1.0000,7.014
7,16,154.0,8.512000,19.0,35.0000,22.0,168.0,36.0000,117.000000,23.3849,...,12.0043,14.0,0.000000,6.0000,7.0,13.000000,54.0,70.0000,1.0000,7.014
8,17,114.0,8.512000,24.0,41.0000,28.0,84.0,37.0000,65.000000,23.3849,...,12.0043,14.0,1.000000,8.0000,7.0,7.000000,100.0,30.0000,17.0261,7.014
9,18,146.0,8.512000,40.0,42.0000,46.0,234.0,22.0000,62.000000,23.3849,...,12.0043,14.0,2.000000,7.0000,7.0,5.000000,106.0,54.0000,17.0261,7.014
10,19,187.0,8.512000,56.0,60.0000,39.0,88.0,8.0000,41.000000,23.3849,...,12.0043,14.0,0.000000,11.4919,7.0,4.000000,90.0,171.0000,17.0261,7.014
11,20,378.0,8.512000,62.0,20.0000,29.0,239.0,16.7524,26.000000,23.3849,...,12.0043,14.0,6.000000,11.4919,7.0,8.000000,78.0,286.0000,17.0261,7.014
12,21,325.0,8.512000,47.0,12.0000,31.0,151.0,16.7524,57.000000,0.0000,...,12.0043,14.0,48.000000,11.4919,7.0,14.000000,75.0,275.0000,17.0261,7.014
13,22,241.0,8.512000,64.0,32.0000,33.0,176.0,3.0000,57.000000,0.0000,...,0.0000,2.0,102.000000,11.4919,7.0,16.000000,62.0,213.0000,37.0000,7.014
14,23,184.0,8.512000,90.0,36.0000,83.0,109.0,24.0000,70.000000,0.0000,...,44.0000,12.0,139.000000,11.4919,7.0,26.000000,51.0,245.0000,14.0000,7.014
15,24,35.0,8.512000,95.0,36.0000,48.0,66.0,13.0000,97.000000,0.0000,...,23.0000,21.0,143.000000,11.4919,7.0,29.029218,10.0,598.0000,25.0000,7.014
16,25,3.0,0.000000,104.0,30.0000,82.0,58.0,25.0000,105.000000,23.3849,...,31.0000,24.0,146.000000,11.4919,7.0,6.000000,18.0,628.5188,29.0000,7.014
17,26,10.0,0.000000,95.0,39.0000,63.0,46.0,31.0000,37.000000,6.0000,...,53.0000,19.0,137.000000,11.4919,0.0,3.000000,20.0,427.0000,23.0000,7.014
18,27,81.0,0.000000,105.0,47.0000,80.0,75.0,23.0000,49.000000,22.0000,...,75.0000,19.0,122.000000,11.4919,0.0,4.000000,15.0,174.0000,27.0000,7.014
19,28,70.0,0.000000,53.0,69.0000,123.0,134.0,6.0000,60.000000,29.0000,...,72.0000,25.0,153.000000,8.0000,0.0,6.000000,8.0,315.0000,49.0000,7.014
20,29,64.0,0.000000,130.0,37.0000,57.0,246.0,9.0000,69.000000,27.0000,...,47.0000,20.0,142.000000,2.0000,0.0,9.000000,2.0,124.0000,23.0000,7.014
21,30,62.0,0.000000,157.0,35.0000,34.0,282.0,4.0000,62.000000,21.0000,...,53.0000,14.0,130.000000,11.0000,0.0,8.000000,64.0,222.0000,46.0000,7.014
22,31,333.0,52.928282,153.0,19.7589,4.0,148.0,10.0000,68.000000,26.0000,...,40.0000,26.0,142.000000,6.0000,0.0,2.000000,51.0,157.0000,23.0000,7.014
23,32,177.0,12.000000,247.0,19.7589,32.0,303.0,10.0000,58.000000,42.0000,...,89.0000,34.0,135.000000,3.0000,1.0,7.000000,19.0,172.0000,38.0000,7.014
24,33,253.0,0.000000,329.0,19.7589,21.0,300.0,27.0000,76.000000,29.0000,...,86.0000,31.0,132.000000,2.0000,0.0,6.000000,40.0,103.0000,41.0000,7.014
25,34,166.0,40.000000,271.0,19.7589,15.0,321.0,14.0000,150.000000,36.0000,...,118.0000,19.0,148.000000,3.0000,0.0,6.000000,26.0,206.0000,44.0000,7.014
26,35,63.0,50.978814,49.0,19.7589,13.0,221.0,14.0000,206.775967,31.0000,...,11.0000,19.0,143.000000,4.0000,1.0,7.000000,37.0,175.0000,34.0000,7.014

In [55]:
df.to_csv('cleaned_data_C.csv',index = False)